.parent {
border:0px solid black;
margin: auto;
}

.child {
text-align:center;
margin-top: 3.2vw;
width:100%;
}

p {
  color: darkblue;
  font-size: 1.3rem;
}
body{
	background-color: #FFFFFF;
}